.btn{
    font-weight: 500;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s ease-in;
    border: none;
    width: fit-content;
    padding: 16px 22px;
    background-color: $primary;
    color: $white;
}

.btn:hover{
    background-color: $black;
    color: $white;
}

