nav {
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 6.5rem;
    position: sticky;
    top: 0;
    left: 0;
    background-color: $white;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    z-index: 100;
    @include breakpoint {
        padding: 20px;
    }
    ul {
        display: flex;
        gap: 40px;
        list-style: none;

        @include tabletMax {
            display: none;
            position: fixed;
            padding: 5rem 0;
            background-color: #f9f9f9;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            text-align: center;
            flex-direction: column;
            gap: 4rem;
            align-items: center;
            justify-content: center;
            z-index: -1;

            &.nav--links-mobile {
                display: flex;
            }

        }


        .link {
            text-decoration: none;
            color: $black;
            padding-bottom: 8px;
        }

        .link:hover {
            color: $primary;
            border-bottom: 1px solid $primary;
        }

        .active {
            color: $primary;
            border-bottom: 1px solid $primary;
        }
    }

    .mobile-menu-icon {
        display: none;

        @include tabletMax {

            display: block;

        }
    }

}

// @include tabletMax {
//     nav {
//         padding: 2rem;
//         &--links {
//             display: none;
//             position: fixed;
//             padding: 5rem 0;
//             background-color: #f9f9f9;
//             top: 0;
//             left: 0;
//             width: 100%;
//             height: 100%;
//             text-align: center;
//             display: flex;
//             flex-direction: column;
//             gap: 4rem;
//             align-items: center;
//             justify-content: center;
//             z-index: -1;
//         }

//         &--logo {
//             a {
//                 display: inline-block;
//             }

//         }
//     }
// }

// @include breakpoint {
//     nav {
//         width: 100vw;
//         padding: 0rem 2rem;

//         .nav--links {
//             display: none;
//         }

//         .nav--links-mobile {
//             position: fixed;
//             padding: 5rem 0;
//             background-color: #f9f9f9;
//             top: 0;
//             left: 0;
//             width: 100vw;
//             height: 100%;
//             text-align: center;
//             display: flex;
//             flex-direction: column;
//             gap: 4rem;
//             align-items: center;
//             justify-content: center;
//             z-index: -1;
//         }

//         .mobile-menu-icon {
//             display: block;
//             background: none;
//             border: none;
//             font-size: 1.5rem;
//         }
//     }
// }