.career--container{
    .opening--container{
        background-color: $primary;
        padding: 3rem 6.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .top--content{
            text-align: center;
            display: grid;
            gap: 1rem;
            color: $white;
            padding: 0rem 12rem;
            @include tabletMax{
                padding: 0;
            }
            p{
                padding: 0rem 10rem;
                @include tabletMax{
                    padding: 0;
                }
            }
        }

        .down--content{
            .cards{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;
                @include tabletMax{
                    grid-template-columns: repeat(2, 1fr);
                }
                .card{
                    background-color: $white;
                    padding: 2rem;
                    display: grid;
                    gap: 0.5rem;
                }
            }
        }
    }
}

@include breakpoint {
    .career--container{
        .opening--container{
            padding: 3rem 3rem;

            .top--content{
                padding: 0;

                h2{
                    font-size: 1.5rem;
                }

                p{
                    padding: 0;
                }
            }

            .down--content{
                .cards{
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
}