// Home Hero

// counter
.counter--container {
    padding: 3rem 6.5rem;

    .counter--wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: -10%;
        box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, 0.12);
        border-radius: 1rem;

        .counter--item {
            background-color: $white;
            padding: 2rem;
            text-align: center;

            h2 {
                font-size: 4rem;
                font-weight: 300;
                color: $primary;
            }

            p {
                font-weight: 500;
            }
        }
    }
}

// Why Tesax star
.why--container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0rem 6.5rem 3rem 6.5rem;
    gap: 2.5rem;
    align-items: center;

    .why--content {
        display: grid;
        gap: 2rem;

        .why--head--content {
            display: gird;
            gap: 0.5rem;
        }

        .why--listitem {
            display: grid;
            gap: 0.5rem;

            .why--item {
                position: relative;

                p{
                    width: 95%;
                    float: right;
                }

                .icon{
                    position: absolute;
                    top: 5px;
                }
            }
        }
    }
}

// services
.services--container {
    background-color: $lightgrey;
    padding: 3rem 6.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .services--head--content {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        text-align: center;
    }

    a{
        margin: 2rem 0rem;
    }
    
    .cards {
        display: flex;
        gap: 1rem;


        .card {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            background-color: $white;
            padding: 1.5rem;
            border-radius: 0.5rem;

            img{
                width: 30%;
                height: auto;
            }

            h3 {
                font-size: 1.25rem;
                font-weight: 500;
            }

            p{
                font-size: 0.875rem;
            }
        }
    }
}

// Testimonials
.testimonial--container{
    padding: 3rem 6.5rem;
    background-color: $primary;

    .testimonial--wrapper{
        display: flex;
        align-items: center;

        .left--content{
            width: 30%;
            padding: 50px;
            background-color: $white;
            display: flex;
            flex-direction: column;
            gap: 24px;
            border-radius: 4px;
        }

        .right--content{
            width: 70%;
            height: 100%;
            padding: 0px 50px;
            color: $white;
        }
    }
}


// Mobile View

@include breakpoint {


    // counter container
    .counter--container {
        width: 100vw;
        padding: 3rem 3rem;

        .counter--wrapper {
            grid-template-columns: 1fr;
            justify-content: center;
            margin: 0;

            .counter--item {
                background-color: $white;
                padding: 1.5rem;
                text-align: center;

                h2 {
                    font-size: 4rem;
                    font-weight: 300;
                    color: $primary;
                }

                p {
                    font-weight: 500;
                }
            }

        }

    }

    // Why Container
    .why--container {
        width: 100vw;
        padding: 0rem 3rem;
        padding-bottom: 3rem;
        grid-template-columns: 1fr;

        img {
            width: 100%;
            height: auto;
        }

        .why--head--content {
            display: grid;
            gap: 1rem;

            h2 {
                font-size: 1.5rem;
            }

        }
    }

    //services
    .services--container{
        width: 100vw;
        padding: 3rem 3rem;

        .services--head--content{
            width: 100%;
        }

        .cards{
            display: flex;
            flex-direction: column;

            .card{
                img{
                    width: fit-content;
                    height: auto;
                }

                h3{
                    font-size: 1.5rem;
                }

                p{
                    font-size: 1rem;
                }

                &:nth-child(2){
                    display: flex;
                }
            }
        }
    }

    .testimonial--container{
        padding: 3rem 3rem;
        background-color: $primary;
    
        .testimonial--wrapper{
            display: flex;
            flex-direction: column;
            gap: 2rem;
    
            .left--content{
                width: 100%;
                background-color: $white;
                display: flex;
                flex-direction: column;
                gap: 24px;
                border-radius: 4px;
                text-align: center;
            }
    
            .right--content{
                width: 100vw;
                height: 100%;
                color: $white;
                

                .top--content{
                    text-align: center;
                }
            }
        }
    }
}