.service--container{

    .services--content{
        padding: 3rem 6.5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        .top--content{
            text-align: center;
            padding: 0rem 6rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .down--content{

            .cards{
                display: flex;
                flex-direction: column;
                gap: 3rem;

                .card{
                    display: flex;
                    gap: 3rem;
                    align-items: center;
                }

                .card:nth-child(even){
                    flex-direction: row-reverse;
                }
            }
        }
    }
}

@include breakpoint{
    .service--container{

        .services--content{
            padding: 3rem 3rem;

            .top--content{
                padding: 0;

                h2{
                    font-size: 1.5rem;
                }
            }

            .down--content{

                .cards{
                    
                    .card{
                        flex-direction: column;
                        gap: 1rem;
                        text-align: center;
                        gap: 2rem;

                        .content{
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;

                            h3{
                                font-size: 1.5rem;
                            }
                        }

                        img{
                            width: 100%;
                        }
                    }

                    .card:nth-child(even){
                        flex-direction: column;

                        .content{
                            width: 100%;
                        }

                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}