//Abstract
@import "./abstract/variables";
@import "./abstract/mixins";
@import "./abstract/global";

//Base
@import "./base/typography";
@import "./base/reset";

// Layouts
@import "./layouts/navbar";
@import "./layouts/button";
@import "./layouts/slider";
@import "./layouts/contacts";
@import "./layouts/footer";
@import "./layouts/resourcescard";
@import "./layouts/hero";

// Pages
@import "./pages/home";
@import "./pages/about";
@import "./pages/contactp";
@import "./pages/services";
@import "./pages/career";

